* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.theme-color {
  color: #ffb455;
}

.theme-bg {
  background-color: #ffb455;
}

.page-heading {
  font-size: 2.5rem;
}

.price {
  font-size: 1.5rem;
}
